#pig {
  border: 1px solid black;
}

circle#face {
  stroke: purple;
  fill: pink;
  stroke-width: 4px;
}

#left-brow {
  stroke: maroon;
  stroke-width: 10;
  fill: none;
  /* display: none; */
}
#right-brow {
  stroke: maroon;
  stroke-width: 10;
  fill: none;
  /* display: none; */
}
#nose {
  stroke: black;
  stroke-width: 2px;
}
.ear {
  stroke: black;
  stroke-width: 2px;
  /* fill: green; */
}

#lips {
  fill: none;
  stroke: black;
  stroke-width: 16px;
}



#tongue {
    stroke:rgb(255, 0, 0);
    fill: olive;
    stroke-width: 1px;
    /* opacity: 0; */
}

#tongue-line {
    fill:pink;
    stroke:black;
    /* opacity: 0; */
}

.nostrils {
    /* fill:#FF7BAC; */
    fill: blue;
    /* stroke:black; */
    stroke-width:3px;
    /* opacity: 0; */
}

#eye-ball {
    stroke:black;
}

#eye-shine {   
    fill: white;
}

/***THIS CODE ENABLES SIMPLE INITIAL OUTLINES***/

#faceShade1 {
  /* stop-color: #ff7bac; */
}
#faceShade2 {
  /* stop-color: #efabb7; */
}

/*  #nose {
      transform-origin: 50% 50%;
    } */

/* #lt-ear {
      fill: transparent;
    }
    #rt-ear {
      fill: transparent;
    } */

#soundsBtn {
  /* width: 10vw;
  height: 4vh;
  color: wheat;
  z-index: 10;
  position: absolute;
  background: transparent;
  border: 1px solid wheat;
  padding: 0.5%;
  top: 0;
  right: 0;
  text-align: center;
  display: none; */
}

#soundsBtn:hover {
  /* cursor: pointer; */
}

/*
p {
  position: absolute;
  left: 5vw;
  color: skyblue;
  font-size: 18px;
  z-index: 12;
}
p span {
  color: grey;
  background: rgba(3, 23, 135, 0.8);
}
*/
